@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@800&family=Playfair+Display&display=swap');

.app-wrapper{
    .form-wrapper{
        position:absolute;
        top: 172em;
        left: 82em;
        z-index: 4;
        input{
            border:none;
            border-bottom: 1px rgb(184, 184, 184) solid;
            width: 20em;
            &:focus{
                outline:none;
            }
            
        }


        
        button{
            text-decoration: none;
            border:none;
            background-color: transparent;
        }
        

}

}