
.contact-wrapper{
    overflow:hidden;
    position:absolute;
    top: 300em;
    width: 100vw;
    overflow:hidden;
    .contact-footer{
        padding-top: 10em;
        background-color: rgb(43, 43, 43);
        display:flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        height: 40vh;
        .section-four{
            position:absolute;
            margin-left: 10em;
            margin-bottom: 34em;
            font-family: 'Playfair Display', serif;
            font-size: 10px;
            color: rgb(206, 206, 206);
            
            
        }
        .gray-line{
            position:absolute;
            margin-bottom: 20em;
            margin-left: 5em;
            background-color: rgb(206, 206, 206);
            height: 1px;
            width: 30em;
        }
        .contact-heading{
            font-family: 'Playfair Display', serif;
            font-size: 1.5em;
            color:white;
            max-width: 440px;
            margin-left: 5em;
            margin-bottom: 5em;
        }
        .contact-span{
            color:rgb(187, 187, 187);
            max-width: 440px;
            font-family: 'Open Sans', sans-serif;
            margin-right: 10em;
            margin-bottom: 5em;
        }
        .contact-thank{
            font-family: 'Playfair Display', serif;
            margin-top: 1em;
            color:white;
            padding-bottom: 2em;
        }
    }
}


.footer-social-links{
    .footer-social-links-ul{
        background-color:rgb(32, 32, 32);
        height: 4em;
        li{
            display:inline-flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1em;
        }
        
        a{
            padding-top: 2em;
            font-size: .7em;
            font-family: 'Open Sans', sans-serif;
            color:rgb(226, 226, 226);
        }
    }
    }
