
html {
  scroll-behavior: smooth;
}
.menu-ul{
  position: fixed;
  top: 10em;
  left: 17em;
  font-size: .8em;
  font-weight:bold;
  font-family: 'Playfair Display', serif;
  z-index: 5;
  


  ul,li {
    text-decoration: none;
    list-style: none;
  
    
  }
  a{
    color:black;
    font-weight: 400;
    text-decoration: underline;
  
    
    
    &:focus{
      border: .1em black solid;
      text-decoration: none;
      padding: .1em;
    }
    &:hover{
      text-decoration: none;
      color:black;
    }
  }
}